<div class="app-info">
    <div class="app-info-header clearfix">
        <div class="app-name-and-status">
            <div>
                <div>
                    <a ui-sref="app-list">Applications</a>
                </div>
                <div>
                    &nbsp;&gt;&nbsp;
                </div>
                <div class="app-name ellipsis">
                    <span>{{app.name}}</span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="app-status" ng-class="getStatusClass(app.status)">{{app.status}}</div>
        </div>
        <div>
            &nbsp;
        </div>
        <div>{{app.description}}</div>
    </div>
    <div class="vms-table clearfix">
        <div class="table-title">
            VMs
        </div>
        <div class="table-header clearfix">
            <div class="column vm-list-column">Name</div>
            <div class="column vm-list-column">Status</div>
            <div class="column vm-list-column">Publish Time</div>
        </div>
        <div class="table-content">
            <div ng-repeat="vm in vms" class="table-line clearfix">
                <div class="column vm-list-column ellipsis" ng-click="setSelectedVm(vm)">
                    <rename-directive name="vm.name" rename-func="renameVm"></rename-directive>
                </div>
                <div class="column vm-list-column" ng-class="getStatusClass(vm.status)">{{vm.status}}</div>
                <div class="column vm-list-column">{{vm.publishTime}}</div>
            </div>
        </div>
    </div>
</div>