<div class="rename">
    <input type="text" class="left-float" ng-class="getEditingClass()" ng-model="newName" ng-focus="setEditing(true)">
    <div ng-if="isEditing()" class="action-icons left-float">
        <div ng-click="rename()" class="left-float" ng-mousedown="handleMouseDownOnBtn()" ng-mouseup="handleMouseUpOnBtn()">
            <i class="action-icon left-float fa fa-check" aria-hidden="true"></i>
        </div>
        <div ng-click="cancelRename()" class="left-float" ng-mousedown="handleMouseDownOnBtn()" ng-mouseup="handleMouseUpOnBtn()">
            <i class="action-icon left-float fa fa-times" aria-hidden="true"></i>
        </div>
    </div>
</div>
