/* initial */
header {
	height: 40px;
}

#table-heading {
	color: #3C7CE1;
	width: 50%;
	font-size: 30px;
	float: left;
}

#list-summery {
	color: black;
	width: 50%;
	direction: rtl;
	float: left;
	height: 40px;
	padding-top: 15px;
}

#table-header {
	font-weight: bold;
}

#main-container {
	background-color: #F0F0F0;
	padding: 30px;
	overflow: hidden;
}

.column-name {
	width: 10%;
	float: left;
}

.column-status {
	width: 60%;
	float: left;
}

.column-owner {
	width: 10%;
	float: left;
}

.column-created {
	width: 20%;
	float: left;
}


.clearfix {
	clear: both;
}
