/* line 5, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/style.scss */
html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

/* line 9, ../sass/style.scss */
header {
  height: 40px;
  padding: 8px 8px 0px;
  width: 100%;
}

/* line 17, ../sass/style.scss */
.table-heading {
  color: #3C7CE1;
  width: calc(100% / 4  - 20px);
  font-size: 30px;
  float: left;
  height: 40px;
  padding-left: 20px;
}

/* line 26, ../sass/style.scss */
.refresh-apps {
  width: calc(100% / 4);
  float: left;
  height: 40px;
}

/* line 32, ../sass/style.scss */
.filter-apps {
  width: calc(100% / 4);
  float: left;
  height: 40px;
}

/* line 38, ../sass/style.scss */
.list-summery {
  color: black;
  width: calc(100% / 4  - 20px);
  direction: rtl;
  float: left;
  height: 40px;
  padding-top: 15px;
  padding-right: 20px;
}

/* line 48, ../sass/style.scss */
.table-header {
  font-weight: bold;
}
/* line 50, ../sass/style.scss */
.table-header > div {
  padding: 10px;
}

/* line 55, ../sass/style.scss */
main {
  background-color: #F0F0F0;
  padding: 30px;
  height: calc(100% - 55px - 60px - 8px);
  overflow: auto;
}

/* line 63, ../sass/style.scss */
.table-content .table-line {
  line-height: 30px;
}
/* line 64, ../sass/style.scss */
.table-content .table-line:nth-child(even) {
  background-color: #F8F8F8;
}
/* line 67, ../sass/style.scss */
.table-content .table-line:nth-child(odd) {
  background-color: white;
}
/* line 70, ../sass/style.scss */
.table-content .table-line > div {
  padding: 10px;
}

/* line 77, ../sass/style.scss */
.column {
  float: left;
  width: calc(100% / 7 - 20px);
  overflow-x: hidden;
  text-overflow: ellipsis;
}
/* line 82, ../sass/style.scss */
.column .info {
  text-decoration: underline;
  cursor: pointer;
  width: 50px;
}

/* line 89, ../sass/style.scss */
.status-running {
  color: green;
}

/* line 93, ../sass/style.scss */
.status-stopped {
  color: orange;
}

/* line 97, ../sass/style.scss */
.status-error {
  color: red;
}

/* line 101, ../sass/style.scss */
.btn {
  background-color: #F0F0F0;
  width: 80px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 2px;
  border-style: groove;
  border-radius: 5px;
  cursor: pointer;
}

/* line 113, ../sass/style.scss */
.table-content .column-created {
  color: #C7CDE5;
}

/* line 117, ../sass/style.scss */
.filter-apps {
  width: calc(100% / 4);
  height: 25px;
}

/* line 122, ../sass/style.scss */
.input {
  border-radius: 5px;
  width: 200px;
  height: 29px;
  border: 1px solid #9A9A9A;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 129, ../sass/style.scss */
.input:focus {
  outline: 0;
}

/* line 134, ../sass/style.scss */
.app-rename-dialog {
  display: none;
}

/* line 138, ../sass/style.scss */
.clearfix:after {
  clear: both;
  display: block;
  content: "";
}
